/* New concepts
- overflow-x hidden // only hides scroll bar on X axis not y;
- transform-origin // changes rotation point from center to desired;
- transition // property TAKES desired property
- PRACTICE // substituting circle px values with var(--SIZE) variables using :root{}
- position: relative // so that the inside may be absolute? don't understand this
*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;  
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

/* moves container out of field */
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

/* when container has 'show-nav' applied to it, style the circle */
.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.circle button:focus {
    outline: none;
}

/* following properties work bc they are relative to the circle */

.circle button#open {
    left: 60%;
}

/* currently #close button is off screen to left */
.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 80px;
    left: 0;
    /* using a high z-index ensures object is on top */
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

/* actual styling of said item */
nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

/* create more space bw the icons and text */
nav ul li i {
    /* increases icon size */
    font-size: 20px;
    /* adds space */
    margin-right: 10px;
}

nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.content img {
    max-height: 100vh;
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content {
    color: #333;
    line-height: 1.5;
}